<%= form_for @customer do |f| %>

  <div class="field">
    <%= f.label :"姓" %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"名" %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"セイ" %><br />
    <%= f.text_field :first_name_kana, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"メイ" %><br />
    <%= f.text_field :last_name_kana, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"郵便番号", :maxlength => 7 %><br />
    <%= f.text_field :post_cord, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"住所" %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"電話番号（ハイフンなし）" %><br />
    <%= f.text_field :telephone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.submit "編集内容を保存" %>
  </div>
<% end %>