<div class="container">
  <h2 class="mt-5">商品編集</h2>
  <%= form_for(@item, url: admin_item_path) do |f| %>
   <div class="form-group">
      <%= f.label :"商品画像" %>
      <%= f.attachment_field :image, class:"form-control-file" %>
    </div>

    <div class="form-group">
      <%= f.label :"商品名" %>
      <%= f.text_field :name, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :"商品説明" %>
      <%= f.text_area :introduction, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :"ジャンル" %>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :"税抜き価格" %>
      <%= f.text_field :price %>
    </div>

    <div class="form-group">
      <%= f.select :is_active, [["販売中",true],["販売停止",false]] %>
    </div>
    <div class="form-group">
      <%= f.submit :変更を保存, class:"btn btn-success" %>
    </div>
  <% end %>
</div>