<h2>商品新規登録</h2>
<%= form_for(@item, url: admin_items_path, method: :post) do |f| %>
<div class="form-items">
  <%= f.label :"商品画像" %>
  <%= f.attachment_field :image %>
</div>
<div class="form-items">
  <%= f.label :"商品名" %>
  <%= f.text_field :name %>
</div>
<div class="form-items">
  <%= f.label :"商品説明" %>
  <%= f.text_area :introduction %>
</div>
  <!-- ジャンル部分 -->
<div class="form-items">
  <%= f.label :"税抜き価格" %>
  <%= f.text_field :price %>
</div>
<div class="form-items">
  <%= f.label :"販売ステータス" %>
  
  <%= f.select :is_active, [["販売中",true],["販売停止",false]] %>
</div>
<div class="form-items">
  <%= f.submit :新規登録 %>
</div>
<% end %>