<div class="container">
  <h2 class="mt-5"><%= @customer.full_name %>さんの会員情報編集</h2>
  <%= form_for [:admin, @customer] do |f| %>
    <div class="form-group">
      <%= f.label :"姓" %><br />
      <%= f.text_field :first_name, autofocus: true, class:"form-control-file" %>
    </div>
    <div class="form-group">
      <%= f.label :"名" %><br />
      <%= f.text_field :last_name, autofocus: true, class:"form-control-file" %>
    </div>
    <div class="form-group">
      <%= f.label :"セイ" %><br />
      <%= f.text_field :first_name_kana, autofocus: true, class:"form-control-file" %>
    </div>
    <div class="form-group">
      <%= f.label :"メイ" %><br />
      <%= f.text_field :last_name_kana, autofocus: true, class:"form-control-file" %>
    </div>
    <div class="form-group">
      <%= f.label :"郵便番号", :maxlength => 7 %><br />
      <%= f.text_field :post_cord, autofocus: true, class:"form-control-file" %>
    </div>
    <div class="form-group">
      <%= f.label :"住所" %><br />
      <%= f.text_field :address, autofocus: true, class:"form-control-file" %>
    </div>
    <div class="form-group">
      <%= f.label :"電話番号（ハイフンなし）" %><br />
      <%= f.text_field :telephone, autofocus: true, class:"form-control-file" %>
    </div>
    <div class="form-group">
      <%= f.label :"メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control-file" %>
    </div>
    <label><%= f.radio_button :customer_status, :false %>有効</label>
    <label><%= f.radio_button :customer_status, :true %>退会</label>
    <div class="form-group">
      <%= f.submit "編集を保存", class:"btn btn-secondary" %>
    </div>
  <% end %>
