<div class="container">
  <h2 class="mt-5"><%= @customer.full_name %>さんの会員詳細</h2>
  <table class="table table-bordered">
    <tbody>
      <tr class="table-dark">
        <th scope="row">氏名</th>
        <td><%= @customer.full_name %></td>
      </tr>

      <tr>
        <th scope="row">カナ</th>
        <td><%= @customer.full_name_kana %></td>
      </tr>

      <tr>
        <th scope="row">郵便番号</th>
        <td><%= @customer.post_cord %></td>
      </tr>

      <tr>
        <th scope="row">住所</th>
        <td><%= @customer.address %></td>
      </tr>

      <tr>
        <th scope="row">電話番号</th>
        <td><%= @customer.telephone %></td>
      </tr>

      <tr>
        <th scope="row">メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <% if @customer.customer_status == false %>
        <tr>
          <th scope="row">会員ステータス</th>
          <td>有効</td>
        </tr>
      <% else %>
        <tr>
          <th scope="row">会員ステータス</th>
          <td>退会</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "編集する", edit_admin_customer_path, class:"btn btn-success" %>
  <%= link_to "注文履歴一覧を見る", admin_customer_orders_path %>
