<h2>注文履歴詳細</h2>

<table>

  <tr>
    <th>購入者</th><td><%= @order.customer.full_name %></td>
  </tr>

  <tr>
    <th>注文日</th><td><%= @order.created_at %></td>
  </tr>

  <tr>
    <th>配送先</th><td><%= @order.address %></td>
  </tr>

  <tr>
    <th>支払方法</th>
      <% if @order.payment_method == 0 %>
        <td>クレジットカード</td>
      <% elsif @order.payment_method == 1 %>
        <td>銀行振込</td>
      <% end %>
  </tr>

  <tr>
    <th>注文ステータス</th>
    <td>
      <%= form_for(@order, url: admin_order_path) do |f| %>
      <%= f.select :order_status, [["入金待ち" ],["入金確認"],["製作中"],["発送準備中"],["発送済み"]] %>
      <%= f.submit "更新" %>
      <% end %>
    </td>
  </tr>

</table>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @order_items.each do |order_item| %>
      <td><%= order_item.item.name %></td>

      <td>test<%= order_item.price %></td>

      <td>test<%= order_item.item_quantity %></td>

      <td><%= f.select :order_status, [["入金待ち"],["入金確認"],["製作中"],["発送準備中"],["発送済み"]] %></td>


      <td>
        <%#= form_for(@order_item, url: admin_order_path) do |f| %>
          <%#= f.select :order_status, [["入金待ち" ],["入金確認"],["製作中"],["発送準備中"],["発送済み"]] %>
          <%#= f.submit "更新" %>
        <%# end %>
      </td>
      <% end %>

    </tr>
  </tbody>
</table>

