<div class="container">
<h2 class="mt-5">注文履歴詳細</h2>

<table class="table table-borderless">

  <tr>
    <th scope="row">購入者</th><td><%= @order.customer.full_name %></td>
  </tr>

  <tr>
    <th scope="row">注文日</th><td><%= @order.created_at %></td>
  </tr>

  <tr>
    <th scope="row">配送先</th><td><%= @order.address %></td>
  </tr>

  <tr>
    <th scope="row">支払方法</th>
      <% if @order.payment_method == 0 %>
        <td>クレジットカード</td>
      <% elsif @order.payment_method == 1 %>
        <td>銀行振込</td>
      <% end %>
  </tr>

  <tr>
    <th scope="row">注文ステータス</th>
    <td>
      <%= form_for(@order, url: admin_order_path) do |f| %>
      <%= f.select :order_status, [["入金待ち"],["入金確認"],["製作中"],["発送準備"],["発送済み"]] %>
      <%= f.submit "更新", class:"btn btn-success" %>
      <% end %>
    </td>
  </tr>
</div>
<div class="container">
</table>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
      <th></th>
    </tr>
  </thead>
  <% @subtotal = 0 %>
  <% @order_items.each do |order_item| %>
  <tbody>
    <tr>
      <td><%= order_item.item.name %></td>

      <td><%= order_item.price %></td>

      <td><%= order_item.item_quantity %></td>

      <td>
        <%= ((order_item.price*1.10).to_i).to_s(:delimited)%>
      　<% @subtotal+=  ((order_item.price*1.10).to_i*(order_item.item_quantity).to_i) %>
      </td>


      <td>
        <%= form_for(order_item, url: admin_order_item_path(order_item.id)) do |f| %>
          <%= f.select :production_status, [["着手不可"],["製作待ち"],["製作中"],["製作完了"]] %>
          <%= f.submit "更新", class:"btn btn-success" %>
        <% end %>
      </td>

    </tr>
  </tbody>
  <% end %>
</table>

<table class="table table-borderless flex" style="width: 400px;">
  <thead>
    <tr>
      <th>商品合計</th><td><%= @subtotal.to_s(:delimited) %></td>
    </tr>
    <tr>
      <th>送料</th><td>800</td>
    </tr>
    <tr>
      <th>請求金額合計</th><td><%= (@subtotal + 800).to_s(:delimited) %></td>
    </tr>
  <thead>
</table>
