<div class="main">
  <h2>配送先登録/一覧</h2>

  <%= form_for @address, url: addresses_path, local: true do |f| %>
    <%= f.label "郵便番号（ハイフンなし）" %>
    <%= f.text_field :post_cord, placeholder: "0000000", :maxlength => 7 %>

    <%= f.label "住所" %>
    <%= f.text_field :address, placeholder: "東京都葛飾区亀有3-49-3 アリオ亀有3F" %>

    <%= f.label "宛名" %>
    <%= f.text_field :name, placeholder: "両津勘吉" %>
    <%= f.submit "確認画面に進む" %>
  <% end %>

  <table border="1">
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <thead>
      <!--<#%= render 'public/addresses/index', addresses: @addresses %>-->
      <!--current_customerが必要だっちゃ！-->

    </thead>
  </table>
</div>