<div class="container">
  <h2 class="mt-5">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: customers_path) do |f| %>
    <%= render "publics/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :"姓" %>
      <%= f.text_field :first_name, autofocus: true, class:"form-control rounded-pill" %>
    </div>

    <div class="field">
      <%= f.label :"名" %>
      <%= f.text_field :last_name, autofocus: true, class:"form-control rounded-pill" %>
    </div>

    <div class="field">
      <%= f.label :"セイ" %>
      <%= f.text_field :first_name_kana, autofocus: true, class:"form-control rounded-pill" %>
    </div>

    <div class="field">
      <%= f.label :"メイ" %>
      <%= f.text_field :last_name_kana, autofocus: true, class:"form-control rounded-pill" %>
    </div>

    <div class="field">
      <%= f.label :"郵便番号", :maxlength => 7 %>
      <%= f.text_field :post_cord, autofocus: true, class:"form-control rounded-pill" %>
    </div>

    <div class="field">
      <%= f.label :"住所" %>
      <%= f.text_field :address, autofocus: true, class:"form-control rounded-pill" %>
    </div>

    <div class="field">
      <%= f.label :"電話番号（ハイフンなし）" %>
      <%= f.text_field :telephone, autofocus: true, class:"form-control rounded-pill" %>
    </div>

    <div class="field">
      <%= f.label :"メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control rounded-pill" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class:"btn btn-success" %>
    </div>
  <% end %>

  <%= render "publics/shared/links" %>
</div>
