<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <h2 class="font-weight-bold mt-5">注文情報入力</h2>
          </div>
        </div>
      </div>
    <%= form_for @order, url: orders_confirm_path,method: :post, local: true do |f| %>
      <string>支払い方法</string>
      <div class="col-xs-10 radio ml-3">
        <%= f.radio_button :payment_method, "クレジットカード", checked: true %>
        <span>クレジットカード</span>
      </div>
      <div class="col-xs-10 radio ml-3 mb-3">
        <%= f.radio_button:payment_method, "銀行振込" %>
        <span>銀行振込</span>
      </div>
      <string>お届け先</string>
      <div class="col-cs-10 radio ml-3">
        <%= radio_button_tag :addresses, "address", checked: true %>
        <span>ご自身の住所</span>
        <br>
        📮　<%= "#{current_customer.post_cord}" %>
        <br>
        🏠　<%= "#{current_customer.address}" %>
        <br>
        🙋　<%= "#{current_customer.first_name}""#{current_customer.last_name}" %>
      </div>
      <div class="col-xs-10 radio ml-3">
        <%= radio_button_tag :addresses, "addresses" %>
        <span>登録済住所から選択</span>
        <br>
        <%= f.collection_select(:customer_id, current_customer.addresses.all, :id, :address) %>
      </div>
      <div class="col-xs-10 radio ml-3">
        <%= radio_button_tag :addresses, "address_new" %>
        <span>新しいお届け先</span>
      </div>
      <div class="form-group">
        <%= f.label :"郵便番号（ハイフンなし）" %>
        <%= f.text_field :post_cord, placeholder: "0000000", :maxlength => 7, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"住所" %>
        <%= f.text_field :address, placeholder: "東京都葛飾区亀有3-49-3 アリオ亀有3F", class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"宛名" %>
        <%= f.text_field :name, placeholder: "両津勘吉", class:"form-control" %>
      </div>
      <div class="text-center">
        <%= f.submit "確認画面に進む", class:"btn btn-success" %>
      </div>
    <% end %>
    </div>
  </div>
</div>