<div class="container">
  <h2 class="mt-5">注文履歴詳細</h2>
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <td>注文日</td>
        <td>配送先</td>
        <td>支払方法</td>
        <td>配送情報</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
        <%= @order.created_at.strftime('%Y/%m/%d') %>
        </td>
        <td>
        📮<%= @order.post_cord %><br>
        🏠<%= @order.address %><br>
        🙋<%= @order.name %>
        </td>
        <td>
          <%= @order.payment_method %>
        </td>
        <td>
          <%= @order.order_status %>
        </td>
      </tr>
    </tbody>
  </table>
  <h2 class="mt-5">注文内容</h2>
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>商品</th>
        <th>単価（税込）</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <% @order_item.each do |order_item| %>
      <tr>
        <td>
          <string class="ml-2"><%= order_item.item.name %></string>
        </td>
        <td>
          <%= ((order_item.item.price*1.10).to_i).to_s(:delimited) %>　円
        </td>
        <td>
          <%= order_item.item_quantity %>　個
        </td>
        <td>
          <%= ((order_item.item.price*1.10).to_i*(order_item.item_quantity).to_i).to_s(:delimited) %>　円
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <table class="table table-bordered">
    <h2 class="mt-5">請求金額詳細</h2>
    <thead class="table-dark">
      <tr>
        <td>商品合計金額</td>
        <td>送料</td>
        <td>ご請求金額</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= (@order.total_payment).to_s(:delimited) %>　円
        </td>
        <td>
          800　円
        </td>
        <td>
          <%= (@order.total_payment + 800).to_s(:delimited) %>　円
         </td>
       </tr>
    </tbody>
  </table>
  <%= link_to "注文履歴一覧へ戻る", orders_path, class:"btn btn-success" %>
</div>