<div class="container" style="max-width: 900px;">
  <h2 class="mt-5">Details</h2>
    <div class="card mb-3 shadow-lg mb-5 bg-white rounded" style="width: 100%;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= attachment_image_tag @item, :image, size:"350x300" %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title ml-5"><%= @item.name %></h3>
            <p class="card-text mb-5 ml-5">商品説明： <%= @item.introduction %></p>
            <p class="card-text ml-5">税込価格： ￥<%= @item.add_tax_price.to_s %>（税込）</p>
            <% if @item.is_active == true %>
              <%= form_for(@cart_item, url: cart_items_path) do |f|%>
                <%= f.hidden_field :item_id, value: @item.id %>
                <%= f.number_field :amount, placeholder: "個数選択", min: 1, class:"ml-5" %>
                <%= f.submit "Add cart", class:"btn btn-success ml-5"%>
              <% end %>
            <% else %>
              <p class="card-text text-muted ml-5">売り切れ中</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
