<div class="container" style="max-width: 900px;">
  <h2 class="mt-5">商品詳細</h2>
    <div class="card mb-3" style="width: 100%;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= attachment_image_tag @item, :image, size:"350x300" %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title ml-5">商品名： <%= @item.name %></h3>
            <p class="card-text mb-5 ml-5">商品説明： <%= @item.introduction %></p>
            <p class="card-text ml-5">税込価格： ￥<%= @item.add_tax_price.to_s %>（税込）</p>
            <%= form_for(@cart_item, url: cart_items_path) do |f|%>
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.number_field :amount, placeholder: "個数選択", min: 1, class:"ml-5" %>
              <%= f.submit "カート入れる", class:"btn btn-success ml-5"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
