<header class="shadow mb-5 rounded">
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #FFDAB9;">
    <%= link_to image_tag('logo.png'), root_path, class:"navbar-brand fs-1 mb-3" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <% if admin_signed_in? %>
                <li class="nav-item">
                    <%= link_to "Items", admin_items_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Customers", admin_customers_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Orders Log", admin_orders_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Jenre", admin_genres_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Log Out", destroy_admin_session_path, method: :delete, class:"nav-link" %>
                </li>
            <% elsif customer_signed_in? %>
                <li class="nav-item">
                    <%= link_to current_customer.full_name, customers_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Items", items_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Cart", cart_items_path(current_customer), class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Log Out", customers_sign_out_path, method: :delete, class:"nav-link" %>
                </li>
             <% else %>
                <li class="nav-item">
                    <%= link_to "About", about_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Items", items_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Sign Up", customers_sign_up_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                   <%= link_to "Log In", customers_sign_in_path, class:"nav-link" %>
                </li>
            <% end %>
        </ul>
    </div>
  </nav>
</header>